body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B2A49;
    color: white;
}

header {
    background-color: #FF6F61;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #1B2A49;
    padding: 20px;
    text-align: center;
    color: #4FC3F7;
}